
html, body {
    height: 100%;
    font-family: 'Questrial', 'Arial', sans-serif;
}

main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.codeblock {
    font-family: 'Source Code Pro', monospace;
    margin: auto;
    background-color: #FFF;
    border: 1px solid #D1D5DA;
    color: #24292E;
}

.codeblock-info {
    background-color: #F6F8FA;
    border: 1px solid #D1D5DA;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.code {
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    line-height: 1.5;
    padding: 0;
    text-align: left;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.line-numbers {
    color: rgba(27,31,35,0.3);
    width: 1%;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
    line-height: 20px;
    text-align: right;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
}

